$color_foreground: #fff;
$color_background: #000;

#community-banner {
  background-color: $color_background;
  color: $color_foreground !important;
  font-weight: bold;
  a { color: $color_foreground; }
}
